  <!-- ======= Our Services Section ======= -->
  <section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Campeonatos</h2>
        <p>Campeonatos obtenidos a lo largo de la carrera profesional</p>
      </div>

      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6">
          <div class="service-item  position-relative">
            <img src="assets/img/tucuman.png" width="300" height="300">
            <hr>
            <h3>Club Atletico Tucuman</h3>
            <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item  position-relative">
            <img src="assets/img/rafaela.png" width="300" height="300">
            <hr>
            <h3>Club Atletico Rafaela</h3>
            <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item  position-relative">
            <img src="assets/img/iacc.png" width="300" height="300">
            <hr>
            <h3>Instituto Atletico Central Cordoba</h3>
            <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
          </div>
        </div><!-- End Service Item -->


      </div>

    </div>
  </section><!-- End Our Services Section -->
