 <!-- ======= Resume Section ======= -->
 <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Trayectoria</h2>
        <p class="fst-italic"> Durante mi carrera en el fútbol de alto nivel, aprendí la importancia del trabajo en equipo, la disciplina y la perseverancia. Estas lecciones no solo me ayudaron a alcanzar mis metas deportivas, sino que también sentaron las bases para mi compromiso actual con el coaching ontológico. </p>
      </div>

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up">

          <h3 class="resume-title">Experiencia profesional</h3>

          <div class="resume-item">
            <h4>Club Atlético Miramar</h4>
            <h5>Mar 2022 - Presente</h5>
            <p><em>Miramar, Argentina </em></p>
          </div>

          <div class="resume-item">
            <h4>Club Atlético Brown San Vicente</h4>
            <h5>Feb 2021 - Feb 2022</h5>
            <p><em>Rafaela, Argentina </em></p>

          </div>

          <div class="resume-item">
            <h4>Club Atlético Sarmiento</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Resistencia, Argentina</em></p>
          </div>

          <div class="resume-item">
            <h4>Club Atlético Rafaela</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Rafaela, Argentina</em></p>
          </div>

          <div class="resume-item">
            <h4>Club Atlético Aldosivi</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Mar del Plata, Argentina</em></p>
          </div>

          <div class="resume-item">
            <h4>Club Atlético Sarmiento</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Junin, Argentina</em></p>
          </div>

          <div class="resume-item">
            <h4>Newell's Old Boys</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Rosario, Argentina</em></p>
          </div>

          <div class="resume-item">
            <h4>Godoy Cruz</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Mendoza, Argentina</em></p>
          </div>

          <div class="resume-item">
            <h4>Club Atlético Rafaela</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Rafaela, Argentina</em></p>
          </div>

          <div class="resume-item">
            <h4>Club Atlético Tucumán</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Tucumán, Argentina</em></p>
          </div>

          <div class="resume-item">
            <h4>Club Atlético Huracan</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Buenos Aires, Argentina</em></p>
          </div>

          <div class="resume-item">
            <h4>Al Ahli Club</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Dubai, Emiratos Arabes Unidos</em></p>
          </div>

          <div class="resume-item">
            <h4>Instituto Atlético Central Córdoba</h4>
            <h5>Mar 2019 - Jan 2021</h5>
            <p><em>Córdoba, Argentina</em></p>
          </div>

        </div>


        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
